host=https://georchestra-dev.umrthema.univ-fcomte.fr
localhost=localhost
login=georchestra-ouvert
passwd=sonmotdepasse
workspace=geosync-ouvert
datastore=geosync_shp_open
pg_datastore=geosync_pg_open
db=geosync_data_open
logs=geosync-open
